html
    head
        title='APIs and Template Engines'
    body
        table 
            tr
                td="ID"
                td="Producto"
                td="Precio"
                td="Imagen"
            for item in products
                tr
                    td=item.id
                    td=item.title
                    td=item.price
                    td=item.thumbnail


