html
    head
        title='APIs and Template Engines'
        link(rel='stylesheet', type='text/css', href='../css/style.css')
    body
        div(class="container") 
            if productsExist 
                table 
                    tr
                        th="ID"
                        th="Producto"
                        th="Precio"
                        th="Imagen"
                    each item in products
                        tr
                            td=item.id
                            td=item.title
                            td=item.price
                            td=item.thumbnail
            else 
                p="No hay productos agregados"
        a(href="http://localhost:8080/app/index")="Ver productos"


